/* Importando variables de colores de la App */
@import url( ./App.css );

/* Estilos generales */
.color-transparent {
    color: transparent !important;
}

.color-black {
    color: var( --black ) !important;
}

/* ---------- Estilos del Formulario de Contacto ---------- */
.contact-section {
    padding: 2.5rem 0;
    background-color: var( --light-violet );
}

/* Caja formulario e información de contacto */
.box-form-info-contact-section {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Formulario de contacto */
.form-contact-section {
    width: 100%;
    max-width: 745px;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
}

/* Cada grupo de input del formulario de contacto */
.input-group-form-contact-section {
    width: 100%;
    margin-bottom: 0.5rem;
    position: relative;
}

/* Label de los inputs del form de contacto */
.input-group-form-contact-section label {
    position: absolute;
    left: 1rem;
    top: 1.25rem;
    font-family: 'Patrick Hand', cursive;
    color: var( --black );
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 1%;
}

/* Inputs del form de contacto */
.input-group-form-contact-section input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var( --white );
    border: 2px solid var( --violet );
    border-radius: 8px;
    font-family: 'Patrick Hand', cursive;
    color: var( --black );
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 1%;
}

/* Cada select del formulario */
.option-accordion-group-form-contact-section {
    background-color: transparent !important;
    border: none !important;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

/* Header de cada opción del acordión del form de contacto */
.header-option-accordion-group-form-contact-section, .accordion-button {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.125rem !important;
    line-height: 120% !important;
    letter-spacing: 1% !important;
    color: var( --black );
    border: 2px solid var( --violet );
    border-radius: 8px;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
    background-color: var( --white ) !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.accordion-button:not(.collapsed) {
    background-color: var( --white ) !important;
}

/* Body de cada opción del acordión del form de contacto */
.body-option-accordion-group-form-contact-section {
    background-color: var( --white );
    border: 2px solid var( --violet );
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Cada opción de cada select del form de contacto */
.body-option-accordion-group-form-contact-section div {
    width: 100%;
    margin-bottom: 1.25rem;
    position: relative;
}

/* Radio de cada opción del acordión del form de contacto */
.container-radio-group-form-contact-section {
    display: block;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    position: relative;
}

/* Ocultar el radio por defecto del navegador */
.container-radio-group-form-contact-section input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Creando un radio personalizado */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var( --violet );
}

/* Cuando se marque el radio */
.container-radio-group-form-contact-section input:checked ~ .checkmark {
    background-color: var( --white );
}

/* Creando el indicador de check */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Mostrando el indicador cuando el radio esté checked */
.container-radio-group-form-contact-section input:checked ~ .checkmark:after {
    display: block;
}

/* Personalizando el nuevo indicador del radio */
.container-radio-group-form-contact-section .checkmark:after {
    left: 4.4px;
    top: 4.5px;
    width: 12px;
    height: 12px;
    background-color: var( --violet );
    border-radius: 50%;
}

/* Label del radio de los acordiones del form de contacto */
.label-radio-group-form-contact-section {
    font-family: 'Patrick Hand', cursive;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 1%;
    color: var( --black );
    margin-left: 2rem;
}

/* Texto de error del formulario de contacto */
.text-error {
    background-color: transparent;
    border: none;
    color: #FF0000;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 1%;
}

/* Botón de enviar del formulario de contacto */
.button-group-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.button-group-contact button {
    display: block;
    width: 220px;
    height: 50px;
    background-color: var( --blue );
    color: var( --white );
    border: 2px solid var( --violet );
    border-radius: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.75rem;
    letter-spacing: 1%;
}

/* Mensaje de éxito en el envío */
.text-success {
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    color: var( --green );
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 1%;
    text-align: center;
    margin-top: 1.5rem;
}

/* Info de redes sociales de la sección de contacto */
.info-contact-section {
    width: 100%;
    max-width: 745px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1.5rem;
    margin-top: 1.5rem;
}

/* Cada red social de la sección de contacto */
.social-media-contact-section {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-media-contact-section:first-child {
    margin-right: 3.25rem;
}

/* Ícono de cada de red social de la sección de contacto */
.icon-social-media-contact-section {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
}

/* Título de cada de red social de la sección de contacto */
.title-social-media-contact-section {
    font-family: 'Patrick Hand', cursive;
    color: var( --black );
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 1%;
    margin: 0;
}

/* ---------- Media queries ---------- */
/* Desktop */
@media ( min-width: 1200px ) {

    /* ----- Sección de Contacto ----- */
    .contact-section {
        padding: 6.25rem 0;
    }

    /* Caja formulario e información de contacto */
    .box-form-info-contact-section {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Formulario de contacto */
    .form-contact-section {
        padding: 0;
        margin-bottom: 0;
    }

    /* Cada grupo de input del formulario de contacto */
    .input-group-form-contact-section {
        margin-bottom: 0.75rem;
    }

    /* Label de los inputs del form de contacto */
    .input-group-form-contact-section label {
        left: 1rem;
        top: 1.25rem;
        font-size: 2.25rem;
    }

    /* Inputs del form de contacto */
    .input-group-form-contact-section input {
        padding: 1rem;
        font-size: 2.25rem;
    }

    /* Header de los acordiones del formulario */
    .header-option-accordion-group-form-contact-section, .accordion-button {
        font-size: 2.25rem !important;
    }

    /* Label del radio de los acordiones del form de contacto */
    .label-radio-group-form-contact-section {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    /* Texto de error del formulario de contacto */
    .text-error {
        font-size: 1.5rem;
    }

    /* Botón de enviar del formulario de contacto */
    .button-group-contact {
        align-items: flex-end;
    }

    .button-group-contact button {
        width: 270px;
        height: 60px;
        font-size: 2.25rem;
    }

    /* Mensaje de éxito en el envío */
    .text-success {
        text-align: end;
        font-size: 1.5rem;
    }

    /* Info de redes sociales de la sección de contacto */
    .info-contact-section {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-top: 0;
    }

    /* Primera red social de la sección de contacto */
    .social-media-contact-section:first-child {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    /* Ícono de cada de red social de la sección de contacto */
    .icon-social-media-contact-section {
        width: 40px;
        height: 40px;
        margin-right: 1.5rem;
    }

    /* Título de cada de red social de la sección de contacto */
    .title-social-media-contact-section {
        font-size: 3rem;
    }

}