/* Importando variables de colores de la App */
@import url( ./App.css );

/* Estilos generales */
.color-transparent {
    color: transparent !important;
}

.color-black {
    color: var( --black ) !important;
}

/* ---------- Estilos de la Home Page ---------- */
.home-page {
    width: 100%;
}

/* ----- Banner ----- */
.banner-section {
    width: 100%;
    height: calc( 60vh - 100px );
    max-height: 860px;
}

/* Carrusel del Banner */
.carousel-banner {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

/* Cada item del carrusel */
.item-carousel-banner {
    width: 100%;
    height: 100%;
}

.item-carousel-banner img {
    width: 100%;
    height: 100%;
}

/* ----- Intro ----- */
.intro-section {
    padding: 2rem 1.5rem;
}

/* Título de Intro */
.title-intro-section {
    font-size: 2rem;
    font-weight: 700;
    line-height: 110%;
    color: var( --black );
    text-align: center;
    margin-bottom: 1.25rem;
}

/* Caja con la info y las imágenes */
.box-info-imgs-intro-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

/* Cada párrafo de Intro */
.p-intro-section {
    font-family: 'Patrick Hand', cursive;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 1%;
    margin-bottom: 0.5rem;
}

/* Caja de imágenes de Intro */
.box-imgs-intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
}

/* Cada imagen de Intro */
.img-intro-section {
    width: 178px;
    height: 234px;
    border: 2px solid var( --violet );
}

/* Primera imagen de Intro */
#first-img-intro-section {
    transform: translateX( 30px ) rotateZ( -10deg );
}

/* Segunda imagen de Intro */
#second-img-intro-section {
    transform: translateX( -35px ) translateY( 35px ) rotateZ( 17deg );
}

/* ----- Sección de Catálogo ----- */
.catalogue-section {
    background-color: var( --light-blue );
    padding: 2.5rem 0;
}

/* Caja de productos de sección Catálogo */
.products-catalogue-section {
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
}

/* Cada producto de sección Catálogo */
.product-catalogue-section {
    width: 100%;
    max-width: 432px;
    margin: 0 auto;
    border: 2px solid var( --violet );
    margin-bottom: 1rem;
}

.product-catalogue-section:last-child {
    margin-bottom: 1.5rem;
}

/* Imagen de cada producto de sección Catálogo */
.img-product-catalogue-section {
    width: 100%;
    border-bottom: 2px solid var( --violet );
}

/* Caja de info de cada producto de sección Catálogo */
.info-product-catalogue-section {
    background-color: var( --white );
    padding: 1.5rem 1rem;
}

/* Título de cada producto de sección Catálogo */
.title-product-catalogue-section {
    color: var( --black );
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 0.75rem;
}

/* Precio de cada producto de sección Catálogo */
.price-product-catalogue-section {
    font-family: 'Patrick Hand', cursive;
    color: var( --black );
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 1%;
}

/* Botón de sección Catálogo */
.button-catalogue-section {
    width: 100%;
}

.button-catalogue-section button {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 0.5rem 0;
    background-color: var( --blue );
    color: var( --white );
    font-family: 'Patrick Hand', cursive;
    font-size: 1.75rem;
    border: 2px solid var( --violet );
    border-radius: 8px;
}

/* ----- Sección de Catálogo ----- */
.clients-section {
    padding: 2.5rem 0;
    background-color: var( --light-pink );
}

/* Carrusel de opiniones de clientes de la sección Catálogo */
.carousel-clients-section {
    width: 100%;
    height: 260px;
    margin-bottom: 3rem;
    position: relative;
}

/* Cada item del carrusel de sección Catálogo */
.item-carousel-clients-section {
    width: 100%;
    height: 100%;
}

.item-carousel-clients-section div {
    width: 260px;
    height: 100%;
    border-radius: 50%;
    background-color: var( --pink );
    border: 2px solid var( --violet );
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
}

/* Opinión de cada cliente del carrusel de sección Catálogo */
.opinion-item-carousel-clients-section {
    font-family: 'Patrick Hand', cursive;
    color: var( --white );
    font-size: 1.25rem;
    padding-left: 1rem;
    margin-bottom: 0.25rem;
}

/* Firma de cada cliente del carrusel de sección Catálogo */
.sign-item-carousel-clients-section {
    font-family: 'Patrick Hand', cursive;
    color: var( --white );
    font-size: 0.875rem;
}

/* Indicadores del carrusel de sección Catálogo */
.carousel-indicators {
    top: 109%;
}

.carousel-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    margin-right: 0.625rem !important;
    background-color: var( --gray ) !important;
}

.carousel-indicators button:last-child {
    margin-right: 0 !important;
}

.carousel-indicators .active {
    background-color: var( --pink ) !important;
}

/* Flechas del carrusel de sección Catálogo */
.arrows-carousel-clients-section {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

.jc-end {
    justify-content: flex-end !important;
}

.arrow-prev-carousel-clients-section, .arrow-next-carousel-clients-section {
    font-size: 1.5rem;
    color: var( --violet );
    cursor: pointer;
}

/* ----- Sección de Preguntas Frecuentes ----- */
.questions-section {
    padding: 2.5rem 0;
    background-color: var( --green );
}

/* Acordión de la sección de Preguntas Frecuentes */
.accordion-question-section {
    padding: 0 2.5rem;
}

/* Cada opción del acordión de la sección de Preguntas Frecuentes */
.option-accordion-question-section {
    background-color: var( --violet ) !important;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

.option-accordion-question-section:last-child {
    margin-bottom: 0;
}

/* Header de cada opción del acordión de la sección de Preguntas Frecuentes */
.header-option-accordion-question-section, .accordion-button {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.125rem !important;
    line-height: 120% !important;
    letter-spacing: 1% !important;
    color: var( --black );
    border: 2px solid var( --violet );
    border-radius: 8px;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
    background-color: var( --white ) !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

/* Body de cada opción del acordión de la sección de Preguntas Frecuentes */
.body-option-accordion-question-section {
    font-family: 'Patrick Hand', cursive;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 1%;
    color: var( --black );
    background-color: var( --white );
    border: 2px solid var( --violet );
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* ----- Sección de Contacto ----- */
.contact-section {
    padding: 2.5rem 0;
    background-color: var( --light-violet );
}

/* Caja formulario e información de contacto */
.box-form-info-contact-section {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Formulario de contacto */
.form-contact-section {
    width: 100%;
    max-width: 745px;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
}

/* Cada grupo de input del formulario de contacto */
.input-group-form-contact-section {
    width: 100%;
    margin-bottom: 0.5rem;
    position: relative;
}

/* Label de los inputs del form de contacto */
.input-group-form-contact-section label {
    position: absolute;
    left: 1rem;
    top: 1.25rem;
    font-family: 'Patrick Hand', cursive;
    color: var( --black );
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 1%;
}

/* Inputs del form de contacto */
.input-group-form-contact-section input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var( --white );
    border: 2px solid var( --violet );
    border-radius: 8px;
    font-family: 'Patrick Hand', cursive;
    color: var( --black );
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 1%;
}

/* Cada select del formulario */
.option-accordion-group-form-contact-section {
    background-color: transparent !important;
    border: none !important;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

/* Header de cada opción del acordión del form de contacto */
.header-option-accordion-group-form-contact-section, .accordion-button {
    font-family: 'Patrick Hand', cursive;
    font-size: 1.125rem !important;
    line-height: 120% !important;
    letter-spacing: 1% !important;
    color: var( --black );
    border: 2px solid var( --violet );
    border-radius: 8px;
}

.accordion-button:focus {
    border: none !important;
    box-shadow: none !important;
    background-color: var( --white ) !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.accordion-button:not(.collapsed) {
    background-color: var( --white ) !important;
}

/* Body de cada opción del acordión del form de contacto */
.body-option-accordion-group-form-contact-section {
    background-color: var( --white );
    border: 2px solid var( --violet );
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Cada opción de cada select del form de contacto */
.body-option-accordion-group-form-contact-section div {
    width: 100%;
    margin-bottom: 1.25rem;
    position: relative;
}

/* Radio de cada opción del acordión del form de contacto */
.container-radio-group-form-contact-section {
    display: block;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    position: relative;
}

/* Ocultar el radio por defecto del navegador */
.container-radio-group-form-contact-section input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Creando un radio personalizado */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var( --violet );
}

/* Cuando se marque el radio */
.container-radio-group-form-contact-section input:checked ~ .checkmark {
    background-color: var( --white );
}

/* Creando el indicador de check */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Mostrando el indicador cuando el radio esté checked */
.container-radio-group-form-contact-section input:checked ~ .checkmark:after {
    display: block;
}

/* Personalizando el nuevo indicador del radio */
.container-radio-group-form-contact-section .checkmark:after {
    left: 4.4px;
    top: 4.5px;
    width: 12px;
    height: 12px;
    background-color: var( --violet );
    border-radius: 50%;
}

/* Label del radio de los acordiones del form de contacto */
.label-radio-group-form-contact-section {
    font-family: 'Patrick Hand', cursive;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 1%;
    color: var( --black );
    margin-left: 2rem;
}

/* Texto de error del formulario de contacto */
.text-error {
    background-color: transparent;
    border: none;
    color: #FF0000;
    font-size: 1rem;
    line-height: 120%;
    letter-spacing: 1%;
}

/* Botón de enviar del formulario de contacto */
.button-group-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.button-group-contact button {
    display: block;
    width: 220px;
    height: 50px;
    background-color: var( --blue );
    color: var( --white );
    border: 2px solid var( --violet );
    border-radius: 8px;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.75rem;
    letter-spacing: 1%;
}

/* Mensaje de éxito en el envío */
.text-success {
    width: 100%;
    display: block;
    background-color: transparent;
    border: none;
    color: var( --green );
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 1%;
    text-align: center;
    margin-top: 1.5rem;
}

/* Info de redes sociales de la sección de contacto */
.info-contact-section {
    width: 100%;
    max-width: 745px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1.5rem;
    margin-top: 1.5rem;
}

/* Cada red social de la sección de contacto */
.social-media-contact-section {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-media-contact-section:first-child {
    margin-right: 3.25rem;
}

/* Ícono de cada de red social de la sección de contacto */
.icon-social-media-contact-section {
    width: 24px;
    height: 24px;
    margin-right: 0.75rem;
}

/* Título de cada de red social de la sección de contacto */
.title-social-media-contact-section {
    font-family: 'Patrick Hand', cursive;
    color: var( --black );
    font-size: 1.125rem;
    line-height: 120%;
    letter-spacing: 1%;
    margin: 0;
}

/* ---------- Media queries ---------- */
/* Tablet */
@media ( min-width: 768px ) {

    /* ----- Banner ----- */
    .banner-section {
        height: calc( 100vh - 100px );
    }

}

/* Desktop */
@media ( min-width: 1200px ) {

    /* ----- Intro ----- */
    .intro-section {
        padding: 5rem 3rem;
    }

    /* Título de Intro */
    .title-intro-section {
        font-size: 4rem;
        font-weight: 700;
        line-height: 110%;
        margin-bottom: 3.75rem;
    }

    /* Caja con la info y las imágenes */
    .box-info-imgs-intro-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* Cada párrafo de Intro */
    .p-intro-section {
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
    }

    /* Caja de imágenes de Intro */
    .box-imgs-intro-section {
        margin-top: 0;
        margin-left: 2rem;
    }

    /* Cada imagen de Intro */
    .img-intro-section {
        width: 288px;
        height: 377px;
    }

    /* Segunda imagen de Intro */
    #second-img-intro-section {
        transform: translateX( -30px ) translateY( 35px ) rotateZ( 17deg );
    }

    /* ----- Sección de Catálogo ----- */
    .catalogue-section {
        padding: 6.25rem 0;
    }

    /* Caja de productos de sección Catálogo */
    .products-catalogue-section {
        padding: 0 3.125rem;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    /* Cada producto de sección Catálogo */
    .product-catalogue-section {
        margin-bottom: 0;
    }

    .product-catalogue-section:last-child {
        margin-bottom: 0;
    }

    /* Título de cada producto de sección Catálogo */
    .title-product-catalogue-section {
        font-size: 2rem;
    }

    /* Precio de cada producto de sección Catálogo */
    .price-product-catalogue-section {
        font-size: 1.75rem;
    }

    /* Botón de sección Catálogo */
    .button-catalogue-section button {
        width: 370px;
        font-size: 2.25rem;
    }

    /* ----- Sección de Catálogo ----- */
    .clients-section {
        padding: 6.25rem 0;
    }

    /* Carrusel de opiniones de clientes de la sección Catálogo */
    .carousel-clients-section {
        height: 620px;
        margin-bottom: 6.25rem;
    }

    /* Cada item del carrusel de sección Catálogo */
    .item-carousel-clients-section div {
        width: 620px;
    }

    /* Opinión de cada cliente del carrusel de sección Catálogo */
    .opinion-item-carousel-clients-section {
        font-size: 3rem;
        line-height: 120%;
        padding-left: 3rem;
        margin-bottom: 2.5rem;
    }

    /* Firma de cada cliente del carrusel de sección Catálogo */
    .sign-item-carousel-clients-section {
        font-size: 1.75rem;
    }

    /* Indicadores del carrusel de sección Catálogo */
    .carousel-indicators {
        top: 109%;
    }

    .carousel-indicators button {
        width: 24px !important;
        height: 24px !important;
        margin-right: 1.5rem !important;
    }

    .carousel-indicators button:last-child {
        margin-right: 0 !important;
    }

    /* Flechas del carrusel de sección Catálogo */
    .arrows-carousel-clients-section {
        padding: 5rem;
    }

    .arrow-prev-carousel-clients-section, .arrow-next-carousel-clients-section {
        font-size: 4rem;
    }

    /* ----- Sección de Preguntas Frecuentes ----- */
    .questions-section {
        padding: 6.25rem 0;
    }

    /* Acordión de la sección de Preguntas Frecuentes */
    .accordion-question-section {
        padding: 0 3.25rem;
    }

    /* Cada opción del acordión de la sección de Preguntas Frecuentes */
    .option-accordion-question-section {
        margin-bottom: 1rem;
    }

    .option-accordion-question-section:last-child {
        margin-bottom: 0;
    }

    /* Header de cada opción del acordión de la sección de Preguntas Frecuentes */
    .header-option-accordion-question-section, .accordion-button {
        font-size: 2.25rem !important;
    }

    /* Body de cada opción del acordión de la sección de Preguntas Frecuentes */
    .body-option-accordion-question-section {
        font-size: 1.75rem;
    }

    /* ----- Sección de Contacto ----- */
    .contact-section {
        padding: 6.25rem 0;
    }

    /* Caja formulario e información de contacto */
    .box-form-info-contact-section {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Formulario de contacto */
    .form-contact-section {
        padding: 0;
        margin-bottom: 0;
    }

    /* Cada grupo de input del formulario de contacto */
    .input-group-form-contact-section {
        margin-bottom: 0.75rem;
    }

    /* Label de los inputs del form de contacto */
    .input-group-form-contact-section label {
        left: 1rem;
        top: 1.25rem;
        font-size: 2.25rem;
    }

    /* Inputs del form de contacto */
    .input-group-form-contact-section input {
        padding: 1rem;
        font-size: 2.25rem;
    }

    /* Label del radio de los acordiones del form de contacto */
    .label-radio-group-form-contact-section {
        font-size: 1.5rem;
        margin-left: 2rem;
    }

    /* Texto de error del formulario de contacto */
    .text-error {
        font-size: 1.5rem;
    }

    /* Botón de enviar del formulario de contacto */
    .button-group-contact {
        align-items: flex-end;
    }

    .button-group-contact button {
        width: 270px;
        height: 60px;
        font-size: 2.25rem;
    }

    /* Mensaje de éxito en el envío */
    .text-success {
        text-align: end;
        font-size: 1.5rem;
    }

    /* Info de redes sociales de la sección de contacto */
    .info-contact-section {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin-top: 0;
    }

    /* Primera red social de la sección de contacto */
    .social-media-contact-section:first-child {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    /* Ícono de cada de red social de la sección de contacto */
    .icon-social-media-contact-section {
        width: 40px;
        height: 40px;
        margin-right: 1.5rem;
    }

    /* Título de cada de red social de la sección de contacto */
    .title-social-media-contact-section {
        font-size: 3rem;
    }

}